SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="4001", ATTRS{manufacturer}=="Couch CEC", ATTRS{product}=="Couch CEC Controller", SYMLINK+="cec-controller", TAG+="uaccess"
